<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553392569605-p54svea1f4enrbiobr2eu8km1u3udmqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553392569605-p54svea1f4enrbiobr2eu8km1u3udmqm</string>
	<key>API_KEY</key>
	<string>AIzaSyA16w4xaB-9YQz3dFCIbyyt3T9kyH4u5ys</string>
	<key>GCM_SENDER_ID</key>
	<string>553392569605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NewLogin</string>
	<key>PROJECT_ID</key>
	<string>newlogin-7203c</string>
	<key>STORAGE_BUCKET</key>
	<string>newlogin-7203c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553392569605:ios:aec10b4f34f7595a36cb6c</string>
</dict>
</plist>